<app-navbar-administrador></app-navbar-administrador>

<div class="dashboard-container">
  <div class="dashboard-sidebar">
    <div class="sidebar-header">
      <img src="assets/Imagenes/Logo.PNG" alt="Avatar" class="avatar" />
      <div class="user-details">
        <h3>Dra. Gladys</h3>
        <p>Oncología</p>
        <span class="status online">En línea</span>
      </div>
    </div>
    
    <div class="sidebar-menu">
      <a class="menu-item" [routerLink]="['/dashboard']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/mascotas" routerLinkActive="active">
        <i class="fas fa-paw"></i>
        <span>Mascotas</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/historial" routerLinkActive="active">
        <i class="fas fa-clipboard"></i>
        <span>Historial Clínico</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/medicoveterinario" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span>Veterinarios</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/clientes" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span>Clientes</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/turnos" routerLinkActive="active">
        <i class="fas fa-clock"></i>
        <span>Turnos</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/productos" routerLinkActive="active">
        <i class="fas fa-box"></i>
        <span>Productos</span>
      </a>
      <a class="menu-item" routerLink="/dashboard/facturacion" routerLinkActive="active">
        <i class="fas fa-file-invoice"></i>
        <span>Facturación</span>
      </a>
    </div>
  </div>

  <div class="dashboard-main">
    <router-outlet></router-outlet>
  </div>
</div>
  